.bio {
  display: flex;
  flex-direction: row;
  margin: 10px 90px;
  transition: 0.5s ease;
  .bio-text {
    transition: 0.5s ease;
    font-size: 18px;
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
  }
  img {
    width: 200px;
    height: auto;
    transition: 0.5s ease;
  }
}

.profile-pic {
  border: 3px solid bisque;
  border-radius: 100px;
}