* {
  box-sizing: border-box;
}

html {
  background-color: #001a30;
  color: bisque;
  scroll-behavior: smooth;
}

// FLEXBOX
.page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300vh;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  .icon-link {
    display: flex;
    padding: 5px;
  }
  i {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'avenir';
    padding: 5px;
  }
  i:hover {
    background-color: bisque;
    color: #001a30;
    border-radius: 12px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  p:hover {
    background-color: bisque;
    color: #001a30;
    border-radius: 12px;
  }
  p {
    margin: 0px 5px;
    padding: 5px;
  }
}

.title {
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-name {
  // margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  font-size: 200px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.bio {
  display: flex;
  flex-direction: row;
  margin: 10px 90px;
  .bio-text {
    font-size: 18px;
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
  }
  img {
    width: 200px;
    height: auto;
  }
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  .icon-layout {
    text-align: center;
    margin: 4px 6px;
    margin-top: 40px;
  }
  .icon-layout:hover {
    background-color: bisque;
    color: #001a30;
    padding: 0px 4px;
    border-radius: 20px;
  }
}

.my-work-section {
  display: flex;
  flex-direction: column;
  img {
    margin: 10px auto;
    height: 50px;
    width: 50px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1500px;
  max-width: 100%;
}

.project-border {
  display: flex;
  flex-direction: column;
  border: 1px solid bisque;
  width: 500px;
  margin: 5px 10px;
  a {
  margin-left: 50px;
  }
  img {
    width: 90%;
    height: auto;
  }
  .project-image {
    margin: 0px 0px -235px 23px;
    width: 80%;
    height: 200px;
    // border-radius: 10px;
  }
  p {
    margin: 10px;
    text-align: center;
    line-height: 1.5;
  }
  .icon-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    i {
      font-size: 30px;
    }
  }
  .project-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-left: 35px;
    .link-button {
      width: 140px;
      // margin-left: -20px;
      background-color: #001a30;
      color: bisque;
      border: 1px solid bisque;
      border-radius: 10px;
    }
    .link-button:hover {
      background-color: bisque;
      color: #001a30;
    }
    i {
      color: bisque;
      font-size: 12px;
      font-family: 'avenir';
      text-decoration: none;
      font-style: none;
      margin: 0 auto;
    }
    i:hover {
      color: #001a30;
    }
    p {
      color: bisque;
      font-size: 12px;
      font-family: 'avenir';
      text-decoration: none;
      font-style: italic;
      margin: 0 auto;
    }
    p:hover {
      color: #001a30;
    }
    svg {
      color: bisque;
      background-color: bisque;
      border-radius: 90px;
      padding: 2px;
    }
  }
}




.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .footer-icons {
    display: flex;
    flex-direction: row;
    a {
      margin: 10px;
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: bisque;
}

body {
  font-family: 'avenir';
}

.profile-pic {
  border: 3px solid bisque;
  border-radius: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

i {
  font-size: 50px;
  margin: 4px;
}

// .header-image {
//   h1 {
//     margin: 20px auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     font-size: 200px;
//     width: 100%;
//   }
//   div {
//     display:inline-block;
//     overflow: initial;
//     margin-right: 650px;
//     white-space:nowrap;
//     width: 100%;
//   }
  
//   div:first-of-type {  
//     animation: showup ;
//     margin-bottom: 4px;
//     font-weight: bold;
//   }
  
//   .extra-gap {
//     margin-right: 10px;
//     margin-top: 5px;
//     width: 100%;
//   }
  
//   div:last-of-type {
//     width:1000px;
//     animation: reveal 7s infinite;
//   }
  
  
//   @keyframes showup {
//       0% {opacity:0;}
//       20% {opacity:1;}
//       80% {opacity:1;}
//       100% {opacity:0;}
//   }
  
//   @keyframes slidein {
//       0% { margin-left:-800px; }
//       20% { margin-left:-800px; }
//       35% { margin-left:0px; }
//       100% { margin-left:0px; }
//   }
  
//   @keyframes reveal {
//       0% {opacity:0;width:0px;}
//       20% {opacity:1;width:0px;}
//       30% {width:355px;}
//       80% {opacity:1;}
//       100% {opacity:0;width:355px;}
//   }
  
  
//   }