* {
  box-sizing: border-box;
}

html {
  background-color: #001a30;
  color: bisque;
}

// FLEXBOX
.page-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300vh;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  .icon-link {
    display: flex;
    margin: 0 auto;
    padding: 5px;
  }
  .icon-link:hover {
    background-color: bisque;
    color: #001a30;
    border-radius: 12px;
  }
  i {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'avenir';
  }
}

.title {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 50px;
  }
}

.bio {
  display: flex;
  flex-direction: row;
  margin: 10px 90px;
  .bio-text {
    width: 70%;
    margin-left: 100px;
    margin-top: 50px;
  }
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  .icon-layout {
    text-align: center;
    margin: 4px 6px;
    margin-top: 40px;
  }
  .icon-layout:hover {
    background-color: bisque;
    color: #001a30;
    padding: 0px 4px;
    border-radius: 20px;
  }
}

.my-work-section {
  display: flex;
  flex-direction: column;
  img {
    margin: 10px auto;
    height: 50px;
    width: 50px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1500px;
  max-width: 100%;
}

.project-border {
  display: flex;
  flex-direction: column;
  border: 1px solid bisque;
  width: 500px;
  margin: 5px 10px;
  img {
    margin: 10px auto;
    width: 90%;
    height: 250px;
    border-radius: 10px;
  }
  p {
    margin: 10px;
    text-align: center;
  }
  .icon-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    i {
      font-size: 30px;
    }
  }
}

body {
  font-family: 'avenir';
}

.profile-pic {
  border: 3px solid bisque;
  border-radius: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

i {
  font-size: 50px;
  margin: 4px;
}

// .header-image {
//   h1 {
//     margin: 20px auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     font-size: 65px;
//   }
//   div {
//     display:inline-block;
//     overflow:hidden;
//     white-space:nowrap;
//   }
  
//   div:first-of-type {  
//     animation: showup ;
//     margin-bottom: 4px;
//     font-weight: bold;
//     position: fixed;
//   }
  
//   .extra-gap {
//     margin-right: 10px;
//     margin-top: 5px;
//   }
  
//   div:last-of-type {
//     width:0px;
//     animation: reveal 7s infinite;
//   }
  
  
//   @keyframes showup {
//       0% {opacity:0;}
//       20% {opacity:1;}
//       80% {opacity:1;}
//       100% {opacity:0;}
//   }
  
//   @keyframes slidein {
//       0% { margin-left:-800px; }
//       20% { margin-left:-800px; }
//       35% { margin-left:0px; }
//       100% { margin-left:0px; }
//   }
  
//   @keyframes reveal {
//       0% {opacity:0;width:0px;}
//       20% {opacity:1;width:0px;}
//       30% {width:355px;}
//       80% {opacity:1;}
//       100% {opacity:0;width:355px;}
//   }
  
  
//   }